<?php

// 1st, server you want to connect to, 2nd username, NOTE: usually root is not used due to permissions, 3rd password, 4th database, 5th port number (default is 3306)
$conn = mysqli_connect('','','','');

if(!$conn){
    $output['error'] = "Error connecting to database";
    // print mysqli_error($conn);
    // exit;
};